/* ----------------------------------------- */
/* Trait Selector
/* ----------------------------------------- */

.conan2d20.actor .traits label {
  font-weight: bold;
}
.conan2d20.actor .traits select {
  margin: 2px 0;
}
.conan2d20.actor .traits .trait-perception > input {
  flex: 0 0 32px;
  text-align: center;
}
.conan2d20.actor .traits .trait-selector {
  float: right;
  margin-right: 3px;
  color: #999;
  font-size: 10px;
  line-height: 16px;
}
.conan2d20.actor .traits .traits-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.conan2d20.actor .traits-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.conan2d20.actor .traits .configure-flags i.fas {
  float: right;
  margin-right: 3px;
  text-align: right;
  color: #999;
  line-height: 24px;
}
.conan2d20.actor .traits .configure-flags i.fas:hover {
  color: #111;
  text-shadow: 0 0 10px #ff6400;
}

#trait-selector .window {
  overflow-y: hidden;
  display: flex;
  background-image: url('../assets/parchment.jpg');
}

#trait-selector .trait-list {
  flex: 1;
  list-style: none;
  margin: 0 0 0.5em;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}

#trait-selector .trait-header {
  flex: 0 0 32px;
  line-height: 32px;
  text-align: center;
  margin: 0;
}

#trait-selector .trait-header .header-search {
  flex: 1;
}

#trait-selector .trait-header .header-search input {
  background: rgba(255, 255, 245, 0.8);
  width: calc(100% - 26px);
  margin: 0 2px;
}

#trait-selector .trait-footer {
  flex: 0 0 32px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 5px;
  border-top: 1px solid grey;
}
