<h4 class="sidebar-summary">{{localize "CONAN.miscSummary"}}</h4>

<div class="inventory-details">
  <div class="form-group">
    <label>{{localize "CONAN.availability"}}</label>
    <select name="system.availability" data-dtype="String">
      {{#select item.system.availability}}
        {{#each availability as |label key|}}
          <option value="{{key}}">
            {{localize label}}
          </option>
        {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="form-group">
    <label>{{localize "CONAN.itemEncumbrance"}}</label>
    <input
      type="Number"
      name="system.encumbrance"
      value="{{item.system.encumbrance}}"
      data-dtype="Number"
    />
  </div>
  <div class="form-group">
    <label>{{localize "CONAN.itemCost"}}</label>
    <input
      type="Number"
      name="system.cost"
      value="{{item.system.cost}}"
      data-dtype="Number"
    />
  </div>
</div>
