<div class="form-group">
  <label>{{localize "CONAN.weaponTypeLabel"}}</label>
  <select name="system.weaponType" data-dtype="String">
    {{#select item.system.weaponType}}
      {{#each weaponTypes as |name type|}}
      <option value="{{type}}">
        {{name}}
      </option>
      {{/each}}
    {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.weaponGroupLabel"}}</label>
  <select name="system.group" data-dtype="String">
    {{#select item.system.group}}
      <option value="">&nbsp;</option>
      {{#each weaponGroups as |name type|}}
        <option value="{{type}}">
          {{name}}
        </option>
      {{/each}}
    {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.weaponSizeLabel"}}</label>
  <select name="system.size" data-dtype="String">
    {{#select item.system.size}}
      {{#each weaponSizes as |name size|}}
        <option value="{{size}}">
          {{name}}
        </option>
      {{/each}}
    {{/select}}
  </select>
</div>

<div class="form-group">
  {{#ifEq item.system.weaponType "ranged"}}
    <label>{{localize "CONAN.weaponRangeLabel"}}</label>
    <select name="system.range" data-dtype="String">
      {{#select item.system.range}}
        {{#each weaponRanges as |name range|}}
          <option value="{{range}}">
            {{name}}
          </option>
        {{/each}}
      {{/select}}
    </select>
  {{else}}
    <label>{{localize "CONAN.weaponReachLabel"}}</label>
    <input
      type="Number"
      name="system.range"
      value="{{item.system.range}}"
      data-dtype="Number"
    />
  {{/ifEq}}
</div>

{{#ifEq item.system.weaponType "ranged"}}
<div class="form-group">
  <label>{{localize "CONAN.weaponShotsLabel"}}</label>
  <input
    type="Number"
    name="system.shots"
    value="{{item.system.shots}}"
    data-dtype="Number"
  />
</div>
{{/ifEq}}

<ol class="form-list">
  <li class="form-group">
    <label title="{{localize 'CONAN.weaponDamageTitle'}}">
      {{localize "CONAN.weaponDamageLabel"}}
      <i class="fas fa-info-circle"></i>
    </label>
  </li>

  <div class="form-group">
    <label>{{localize "CONAN.weaponBaseDamageLabel"}}</label>
    <div class="details-container-three-columns">
      <select name="system.damage.dice" data-dtype="Number">
        {{#select item.system.damage.dice}}
          {{#each damageDice as |name type|}}
            <option value="{{type}}">
              {{name}}
            </option>
          {{/each}}
        {{/select}}
      </select>
      <div class="combat-dice"></div>
    </div>
  </div>

  <div class="form-group">
    <label>Skill Override</label>
    <select name="system.skillOverride" data-dtype="String">
      {{#select item.system.skillOverride}}
        <option value="">-- {{localize "CONAN.DefaultSkill"}} --</option>
        {{#each overrideSkills as |skill|}}
        <option value="{{skill.key}}">
          {{skill.name}}
        </option>
        {{/each}}
      {{/select}}
    </select>
  </div>
</ol>

<ol class="form-list">
  <div class="form-group">
    <label>{{localize "CONAN.equipmentEquippedLabel"}}</label>
    <input
      type="checkbox"
      name="system.equipped"
      value="1"
      data-dtype="Boolean"
      {{checked item.system.equipped}}
    />
  </div>

  {{#ifEq item.system.group "shield"}}
    <div class="form-group">
      <label>{{localize "CONAN.armorBrokenLabel"}}</label>
      <input
        type="checkbox"
        name="system.broken"
        value="1"
        data-dtype="Boolean"
        {{checked item.system.broken}}
      />
    </div>
  {{/ifEq}}

  <div class="form-group-stacked">
    <label for="system.qualities.value">
      {{localize "CONAN.qualitiesLabel"}}
      <a
        class="trait-selector"
        data-options="weaponQualities"
        data-has-values="true"
        data-allow-empty-values="true"
      >
        <i class="fas fa-edit"></i>
      </a>
    </label>
    <ul class="qualities-list tags">
      {{#each item.system.qualities.value as |v k|}}
        <span class="tag {{k}}">
          {{v.label}}
          {{#if v.value}}
            ({{v.value}})
          {{/if}}
        </span>
      {{/each}}
    </ul>
  </div>
</ol>
