.talents {
  .talents-list {
    @include pc-sheet-tab;
    @import '../../imports/pc-sheet-list-header';
    @import '../../imports/item-lists';

    .talent-totals {
      display: block;
      margin: 0;
      font-size: 9px;

      span {
        font-size: 9px;
      }
    }
  }
}
