<section class="npc-sheet-attributes">
  <div class="npc-sheet-sub-heading">
    <h3>{{localize "CONAN.npc.sections.attributes"}}</h3>
  </div>
  <div class="npc-sheet-attributes__4-column-grid">
    <div class="attribute-entry">
      <h4 class="npc-sheet-field__label" title="{{localize 'CONAN.attributeTitles.awa'}}">
        {{system.attributes.awa.label}}
      </h4>
      <input
        name="system.attributes.awa.value"
        type="Number"
        value="{{system.attributes.awa.value}}"
        data-dtype="Number"
        placeholder="7"
      />
    </div>
    <div class="attribute-entry">
      <h4 class="npc-sheet-field__label" title="{{localize 'CONAN.attributeTitles.int'}}">
        {{system.attributes.int.label}}
      </h4>
      <input
        name="system.attributes.int.value"
        type="Number"
        value="{{system.attributes.int.value}}"
        data-dtype="Number"
        placeholder="7"
      />
    </div>
    <div class="attribute-entry">
      <h4 class="npc-sheet-field__label" title="{{localize 'CONAN.attributeTitles.per'}}">
        {{system.attributes.per.label}}
      </h4>
      <input
        name="system.attributes.per.value"
        type="Number"
        value="{{system.attributes.per.value}}"
        data-dtype="Number"
        placeholder="7"
      />
    </div>
    <div class="attribute-entry">
      <h4 class="npc-sheet-field__label" title="{{localize 'CONAN.attributeTitles.wil'}}">
        {{system.attributes.wil.label}}
      </h4>
      <input
        name="system.attributes.wil.value"
        type="Number"
        value="{{system.attributes.wil.value}}"
        data-dtype="Number"
        placeholder="7"
      />
    </div>
  </div>
  <div class="npc-sheet-attributes__3-column-grid">
    <div class="attribute-entry">
      <h4 class="npc-sheet-field__label" title="{{localize 'CONAN.attributeTitles.agi'}}">
        {{system.attributes.agi.label}}
      </h4>
      <input
        name="system.attributes.agi.value"
        type="Number"
        value="{{system.attributes.agi.value}}"
        data-dtype="Number"
        placeholder="7"
      />
    </div>
    <div class="attribute-entry">
      <h4 class="npc-sheet-field__label" title="{{localize 'CONAN.attributeTitles.bra'}}">
        {{system.attributes.bra.label}}
      </h4>
      <input
        name="system.attributes.bra.value"
        type="Number"
        value="{{system.attributes.bra.value}}"
        data-dtype="Number"
        placeholder="7"
      />
    </div>
    <div class="attribute-entry">
      <h4 class="npc-sheet-field__label" title="{{localize 'CONAN.attributeTitles.coo'}}">
        {{system.attributes.coo.label}}
      </h4>
      <input
        name="system.attributes.coo.value"
        type="Number"
        value="{{system.attributes.coo.value}}"
        data-dtype="Number"
        placeholder="7"
      />
    </div>
  </div>
</section>
