<section class="npc-skills">
  <div class="npc-sheet-sub-heading">
    <h3>{{localize "CONAN.npc.sections.fields"}}</h3>
  </div>
  <div class="npc-skills__grid">
    <div class="npc-skills__item" data-skill="cmb">
      <h4
        class="npc-sheet-field__label skill-name rollable"
        title="{{system.skills.cmb.tooltip}}"
      >
        {{system.skills.cmb.label}}
      </h4>
      <div class="npc-sheet-field__value">
        <input
          name="system.skills.cmb.value"
          type="Number"
          value="{{system.skills.cmb.value}}"
          placeholder="&mdash;"
        />
      </div>
    </div>
    <div class="npc-skills__item" data-skill="mov">
      <h4
        class="npc-sheet-field__label skill-name rollable"
        title="{{system.skills.mov.tooltip}}"
      >
        {{system.skills.mov.label}}
      </h4>
      <div class="npc-sheet-field__value">
        <input
          name="system.skills.mov.value"
          type="Number"
          value="{{system.skills.mov.value}}"
          placeholder="&mdash;"
        />
      </div>
    </div>
    <div class="npc-skills__item" data-skill="frt">
      <h4
        class="npc-sheet-field__label skill-name rollable"
        title="{{system.skills.frt.tooltip}}"
      >
        {{system.skills.frt.label}}
      </h4>
      <div class="npc-sheet-field__value">
        <input
          name="system.skills.frt.value"
          type="Number"
          value="{{system.skills.frt.value}}"
          placeholder="&mdash;"
        />
      </div>
    </div>
    <div class="npc-skills__item" data-skill="sns">
      <h4
        class="npc-sheet-field__label skill-name rollable"
        title="{{system.skills.sns.tooltip}}"
      >
        {{system.skills.sns.label}}
      </h4>
      <div class="npc-sheet-field__value">
        <input
          name="system.skills.sns.value"
          type="Number"
          value="{{system.skills.sns.value}}"
          placeholder="&mdash;"
        />
      </div>
    </div>
    <div class="npc-skills__item" data-skill="knw">
      <h4
        class="npc-sheet-field__label skill-name rollable"
        title="{{system.skills.knw.tooltip}}"
      >
        {{system.skills.knw.label}}
      </h4>
      <div class="npc-sheet-field__value">
        <input
          name="system.skills.knw.value"
          type="Number"
          value="{{system.skills.knw.value}}"
          placeholder="&mdash;"
        />
      </div>
    </div>
    <div class="npc-skills__item" data-skill="scl">
      <h4
        class="npc-sheet-field__label skill-name rollable"
        title="{{system.skills.scl.tooltip}}"
      >
        {{system.skills.scl.label}}
      </h4>
      <div class="npc-sheet-field__value">
        <input
          name="system.skills.scl.value"
          type="Number"
          value="{{system.skills.scl.value}}"
          placeholder="&mdash;"
        />
      </div>
    </div>
  </div>
</section>
