<div class="npc-type-grid">
	<img
		class="npc-sheet__portrait"
		src="{{actor.img}}"
		data-edit="img"
		title="{{actor.name}}"
	/>
	<div class="npc-type">
		<h4 class="npc-sheet-field__label">{{localize 'CONAN.npcTypeLabel'}}</h4>
		<div>
			<select name="system.type" data-dtype="String">
				{{#each npcTypes as |type key|}}
					<option
						value="{{key}}"
						{{#ifCond ../system.type "===" key}}
							selected
						{{/ifCond}}
					>
						{{type}}
					</option>
				{{/each}}
			</select>
		</div>
	</div>
	<div class="npc-categories">
		<h4 class="npc-sheet-field__label">{{localize 'CONAN.npcTraitsLabel'}}</h4>
		<ul class="tags">
			{{#each traits as |v k|}}
				<li class="tag tag--black {{k}}">
					{{v}}
				</li>
			{{/each}}
			<li class="tag edit-btn" for="system.categories">
				<a class="trait-selector" data-options="npcTraits">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-plus"
					>
						<line x1="12" y1="5" x2="12" y2="19"></line>
						<line x1="5" y1="12" x2="19" y2="12"></line>
					</svg>
				</a>
			</li>
		</ul>
	</div>
</div>
