.conan2d20 {

  input,
  label,
  select {
    color: var(--body);
    line-height: 1;
  }

  input {
    border: none;
    border-radius: 0;

    &:focus {
      box-shadow: none;

      &::placeholder {
        color: transparent;
      }
    }

    &::placeholder {
      color: white;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
      /* <-- Apparently some margin are still there even though it's hidden */
    }

    &[type=number] {
      margin: 0;

      height: 24px;
      width: 100%;

      appearance: textfield;
      -moz-appearance: textfield;
    }
  }

  select {
    font-size: 14px;
    font-family: $serif;
    font-weight: 500;
    color: white;
    position: relative;
    background-color: var(--alt);
    line-height: 1;
    cursor: pointer;
    padding: 4px 4px 4px 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-overflow: ellipsis;
    height: auto;
    border: 1px solid #53422a;
    margin: 4px;
    width: calc(100% - 8px);

    &:hover {
      @include input-glow;
      color: white;
      cursor: pointer;
    }

    option {
      background-color: var(--alt);
    }
  }

  .dots span {
    cursor: pointer;
  }

  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    padding: 0;
    margin: 4px;
    row-gap: 2px;

    .tag {
      display: inline-flex;
      flex-wrap: nowrap;
      color: white;
      background-color: var(--primary);
      @include micro;
      padding: 4px 4px;
      box-shadow: inset 0 0 0 1px rgba(black, 0.5);

      & + .tag,
      &:first-child {
        margin-right: 4px;
      }

      &.edit-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 0;

        a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          color: var(--primary);

          svg {
            height: 9px;
            width: auto;
          }
        }
      }

      &--black {
        background-color: black;
      }

      &_primary {
        background-color: var(--primary);
      }

      &_secondary {
        background-color: var(--secondary);
      }

      &_tertiary {
        background-color: var(--tertiary);
      }

      &_alt {
        background-color: var(--alt);
      }
    }
  }

  #context-menu {
    min-width: unset;
    width: unset;
    background-color: darkslategray;

    font-family: "Roboto", system, -apple-system, sans-serif;
    font-size: 14px;

    li.context-item {
        line-height: 26px;
    }
    .context-items {
        display: flex;
    }
  }
}

.conan2d20.sheet form .tag {
  font-weight: 700;
}

.conan2d20 form.soak-form {
  background: none;
  display: flex;
  height: auto;
  width: 300px;
  flex-direction: column;
  padding: 10px;
}
