<div class="tab actions" data-group="primary" data-tab="actions">
  <div class="actions-list item-list">
    <div class="header-bar">
      <h3 class="item-name hideable-items">
        {{#if hiddenTables.actionsAttacks}}
          <i class="fa-solid fa-caret-right"></i>
        {{else}}
          <i class="fa-solid fa-caret-down"></i>
        {{/if}}
        {{localize "CONAN.attacksLabel"}}
      </h3>
    </div>
    <div
      class="item-table"
      data-hideable-table-id="actionsAttacks"
      {{#if hiddenTables.actionsAttacks}}
        style="display: none;"
      {{/if}}
    >
      {{#each attacks.weapon as |action ai|}}
      <li
        class="item"
        data-action-index="{{ai}}"
        data-item-id="{{action.attack.id}}"
      >
        <div class="item-name rollable">
          <div
            class="item-image item-chat-post"
            style="background-image: url({{action.imageUrl}})"
          >
            <i class="fas fa-comment-alt"></i>
          </div>
          <h4 class="item-name">
            {{action.name}}
            <span class="activity-icon">{{action.glyph}}</span>
          </h4>
        </div>
        {{#if ../owner}}
          <div class="item-controls">
            {{#if action.isShield}}
              <a
                class="item-control item-control__shield"
                title="{{localize 'CONAN.RollShieldSoak'}}"
              >
                <i class="fa-solid fa-shield-quartered"></i>
              </a>
            {{/if}}
            <a
              class="item-control item-control__attack"
              title="{{localize 'CONAN.RollAttack'}}"
            >
              <i class="fa-solid fa-swords"></i>
            </a>
            <a
              class="item-control item-control__damage"
              title="{{localize 'CONAN.RollDamage'}}"
            >
              <i class="fa-solid fa-droplet"></i>
            </a>
          </div>
        {{/if}}
      </li>
      {{/each}}
      {{#each attacks.display as |action ai|}}
        <li
          class="item"
          data-action-index="{{ai}}"
          data-item-id="{{action.attack.id}}"
        >
          <div class="item-name rollable">
            <div
              class="item-image item-chat-post"
              style="background-image: url({{action.imageUrl}})"
            >
              <i class="fas fa-comment-alt"></i>
            </div>
            <h4 class="item-name">
              {{action.name}}
            </h4>
          </div>
          {{#if ../owner}}
            <div class="item-controls">
              {{#if action.isShield}}
                <a
                  class="item-control item-control__shield"
                  title="{{localize 'CONAN.RollShieldSoak'}}"
                >
                  <i class="fa-solid fa-shield-quartered"></i>
                </a>
              {{/if}}
              <a
                class="item-control item-control__attack"
                title="{{localize 'CONAN.RollAttack'}}"
              >
                <i class="fa-solid fa-face-angry-horns"></i>
              </a>
              <a
                class="item-control item-control__damage"
                title="{{localize 'CONAN.RollDamage'}}"
              >
                <i class="fa-solid fa-droplet" style="color: darkred;"></i>
              </a>
            </div>
          {{/if}}
        </li>
      {{/each}}
    </div>
    {{#each actions as |section sid|}}
      <div class="header-bar">
        <h3 class="item-name hideable-items">
          {{#ifObjIndex ../hiddenTables sid}}
            <i class="fa-solid fa-caret-right"></i>
          {{else}}
            <i class="fa-solid fa-caret-down"></i>
          {{/ifObjIndex}}
          &nbsp;{{section.label}}
        </h3>
        {{#if ../owner}}
          <div class="item-controls">
            <a
              class="item-control item-create"
              title="{{localize CONAN.createActionTitle}}"
              data-type="action"
              data-action-type="{{sid}}"
            >
              <i class="fas fa-plus"></i>
            </a>
          </div>
        {{/if}}
      </div>
      <div
        class="item-table"
        data-hideable-table-id="{{sid}}"
        {{#ifObjIndex ../hiddenTables sid}}
          style="display: none;"
        {{/ifObjIndex}}
      >
        {{#each section.actions as |action aid|}}
          <li class="item" data-item-id="{{action._id}}">
            <div class="item-name rollable">
              <div
                class="item-image"
                style="background-image: url({{action.img}})"
              >
                <i class="fas fa-comment-alt"></i>
              </div>
              <h4 class="item-name">{{action.name}}</h4>
            </div>
          </li>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
