<section class="{{cssClass}} directory flexcol" id="{{cssId}}" data-tab="{{tabName}}">
	<header class="combat-tracker-header">
		{{#if user.isGM}}
			<nav class="encounters flexrow" aria-label="COMBAT.NavLabel">
				<a class="combat-button combat-create" title="COMBAT.Create">
					<i class="fas fa-plus"></i>
				</a>
				{{#if combatCount}}
					<a
						class="combat-button combat-cycle"
						title="COMBAT.EncounterPrevious"
						{{#if previousId}}
							data-document-id="{{previousId}}"
						{{else}}
							disabled
						{{/if}}
					>
						<i class="fas fa-caret-left"></i>
					</a>
					<h4 class="encounter">
						{{localize "COMBAT.Encounter"}} {{currentIndex}} / {{combatCount}}
					</h4>
					<a
						class="combat-button combat-cycle"
						title="COMBAT.EncounterNext"
						{{#if nextId}}
							data-document-id="{{nextId}}"
						{{else}}
							disabled
						{{/if}}
					>
						<i class="fas fa-caret-right"></i>
					</a>
				{{/if}}
				<a
					class="combat-button combat-control"
					title="COMBAT.Delete"
					data-control="endCombat"
					{{#unless combatCount}}
						disabled
					{{/unless}}
				>
					<i class="fas fa-trash"></i>
				</a>
			</nav>
		{{/if}}

		<div class="encounter-controls flexrow {{#if hasCombat}}combat{{/if}}">
			{{#if combatCount}}
				{{#if combat.round}}
					<h3 class="encounter-title noborder">{{localize 'COMBAT.Round'}} {{combat.round}}</h3>
				{{else}}
					<h3 class="encounter-title noborder">{{localize 'COMBAT.NotStarted'}}</h3>
				{{/if}}
			{{else}}
				<h3 class="encounter-title noborder">{{localize "COMBAT.None"}}</h3>
			{{/if}}

			{{#if user.isGM}}
				<a
					class="combat-button combat-control"
					title="{{labels.scope}}"
					data-control="toggleSceneLink"
					{{#unless hasCombat}}
						disabled
					{{/unless}}
				>
					<i class="fas fa-{{#unless linked}}un{{/unless}}link"></i>
				</a>
				<a
					class="combat-button combat-settings"
					title="COMBAT.Settings"
					data-control="trackerSettings"
				>
					<i class="fas fa-cog"></i>
				</a>
			{{/if}}
		</div>
	</header>

	<ol id="combat-tracker" class="directory-list">
		{{#each turns}}
			<li class="combatant actor directory-item flexrow {{this.css}}" data-combatant-id="{{this.id}}">
				<img class="token-image" data-src="{{this.img}}" alt="{{this.name}}" />
				<div class="token-name flexcol">
					<h4>{{this.name}}</h4>
					<div class="combatant-controls flexrow">
						{{#if ../user.isGM}}
							<a
								class="combatant-control {{#if this.hidden}}active{{/if}}"
								title="COMBAT.ToggleVis"
								data-control="toggleHidden"
							>
								<i class="fas fa-eye-slash"></i>
							</a>

							<a
								class="combatant-control {{#if this.defeated}}active{{/if}}"
								title="COMBAT.ToggleDead"
								data-control="toggleDefeated"
							>
								<i class="fas fa-skull"></i>
							</a>
						{{/if}}

						{{#if this.canPing}}
							<a
								class="combatant-control"
								title="COMBAT.PingCombatant"
								data-control="pingCombatant"
							>
								<i class="fa-solid fa-bullseye-arrow"></i>
							</a>
						{{/if}}
						<div class="token-effects">
							{{#each this.effects}}
							<img class="token-effect" src="{{this}}" />
							{{/each}}
						</div>
					</div>
				</div>

				{{#if this.hasResource}}
				<div class="token-resource">
					<span class="resource">{{this.resource}}</span>
				</div>
				{{/if}}

				<div class="token-initiative">
					<a
						class="conan-combatant-control"
						{{#if this.turnDone}}
							style="color: var(--color-text-dark-5);"
						{{/if}}
						{{#if ../user.isGM}}
							title="{{localize 'CONAN.ToggleCombatantsTurnDone'}}"
						{{else}}
							{{#if this.turnDone}}
								title="{{localize 'CONAN.CombatantsTurnDone'}}"
							{{else}}
								title="{{localize 'CONAN.CombatantsTurnNotDone'}}"
							{{/if}}
						{{/if}}
						data-control="toggleCombatantTurnDone"
					>
						<i class="fa-solid fa-circle-check fa-xl"></i>
					</a>
				</div>
			</li>
		{{/each}}
	</ol>

	<nav id="combat-controls" class="directory-footer flexrow" title-direction="UP">
		{{#if hasCombat}}
			{{#if user.isGM}}
				{{#if round}}
					<a class="combat-control" title="COMBAT.RoundPrev" data-control="previousRound">
						<i class="fas fa-step-backward"></i>
					</a>

					<a class="combat-control center" data-control="endCombat">
						{{localize 'COMBAT.End'}}
					</a>

					<a class="combat-control" title="COMBAT.RoundNext" data-control="nextRound">
						<i class="fas fa-step-forward"></i>
					</a>
				{{else}}
					<a class="combat-control center" data-control="startCombat">
						{{localize 'COMBAT.Begin'}}
					</a>
				{{/if}}
			{{/if}}
		{{/if}}
	</nav>
</section>
