<header class="char-header">
  <h1 class="char-name">
    <input
      name="name"
      type="text"
      value="{{actor.name}}"
      placeholder="{{localize "CONAN.characterNamePlaceholder"}}"
    />
  </h1>
</header>
