<div
  class="conan2d20 chat-card item-card"
  data-actor-id="{{actorId}}"
  data-item-id="{{item._id}}"
  draggable="true"
>
  <header class="card-header flexrow">
    <h2>{{item.name}}</h2>
    <img src="{{item.img}}" title="{{item.name}}" />
  </header>

  <div class="card-content">{{{data.description.value}}}</div>

  {{#each data.itemDetails as |k v|}}
    <div class="card-content">
      <b>
        {{localize k.label}}:
      </b>
     {{{k.detail}}}
    </div>
  {{/each}}

  {{#ifCond actorId '!==' ''}}
    <div class="card-content">
      <button class="tag npc_damage chat-execute-attack" data-action="npcAttack">
        {{localize 'CONAN.attackRollLabel'}}
      </button>
      <button class="tag npc_damage chat-execute-damage" data-action="npcDamage">
        {{localize 'CONAN.damageRollLabel'}}
      </button>
    </div>
  {{/ifCond}}

  {{> systems/conan2d20/templates/partials/card-footer-properties.html }}
</div>
