{{#if rollData.item}}
  <h2>{{rollData.item.name}}</h2>
  <h3>{{rollData.title}}</h4>
{{else}}
  <h2>{{rollData.title}}</h2>
{{/if}}
<h4>
  {{rollData.difficulty.display}}
</h4>
{{#ifCond rollData.assists.numDice '>' 0}}
<h4>
  {{rollData.difficulty.assistDisplay}}
</h4>
{{/ifCond}}
<div class="roll-card">
  {{#each results.rolls as |roll r|}}
    <span
      id="{{r}}"
      {{#if roll.complication}}
        class="roll-list-entry roll complication"
      {{else if roll.critical}}
        class="roll-list-entry roll critical"
      {{else if roll.success}}
        class="roll-list-entry roll success"
      {{else}}
        class="roll-list-entry roll fail"
      {{/if}}
    >
      {{roll.result}}
    </span>
  {{/each}}
</div>
<div class="roll-outcomes">
  <label>Successes: </label>{{results.successes}}
	{{#ifCond rollData.bonus.successes '>' 0}}
		(+{{rollData.bonus.successes}} {{localize "CONAN.bonusLowerCase"}})
	{{/ifCond}}
  {{#if results.momentum}}
    <br />
    <label>{{localize "CONAN.momentum"}}: </label>{{results.momentum}}
    {{#ifCond rollData.bonus.momentum '>' 0}}
      (+{{rollData.bonus.momentum}} {{localize "CONAN.bonusLowerCase"}})
    {{/ifCond}}
  {{/if}}
  {{#if results.complications}}
    <br />
    <label>{{localize "CONAN.complications"}}: </label>{{results.complications}}
  {{/if}}
  {{#ifCond rollData.assists.numDice '>' 0}}
    <br />
    <label>{{localize "CONAN.assistRolls"}}: </label>{{rollData.assists.numDice}}
  {{/ifCond}}
</div>
{{#if results.result}}
  <h2
    class="success-or-failure {{#ifEq results.result 'success'}}success{{else}}failure{{/ifEq}}"
  >
    {{results.result}}
  </h2>
{{/if}}
{{#if rollData.actorId}}
	{{#if results.momentum}}
		<div class="card-buttons">
			<button
				class="chat-bank-momentum"
			>
			{{localize "CONAN.rollMomentumSpendTitle"}}
			</button>
		</div>
	{{/if}}
{{/if}}
