<div
  class="conan2d20 chat-card item-card"
  data-actor-id="{{actorId}}"
  data-item-id="{{item._id}}"
  draggable="true"
>
  <header class="card-header flexrow">
    <h2>{{item.name}}</h2>
    <img src="{{item.img}}" title="{{item.name}}" />
  </header>

  <div class="card-content">
    {{{data.description.value}}}
  </div>

  {{#each data.itemDetails as |k v|}}
    <div class="card-content">
      <label>
        {{localize k.label}}:
      </label>
      {{{k.detail}}}
    </div>
  {{/each}}
  <br />
  {{#ifCond actorId '!==' ''}}
  <div class="card-buttons">
    <button
      class="tag weapon_damage chat-execute-attack"
      data-action="weaponAttack"
    >
      {{localize 'CONAN.attackRollLabel'}}
    </button>
    <button
      class="tag weapon_attack chat-execute-damage"
      data-action="weaponDamage"
    >
      {{localize 'CONAN.damageRollLabel'}}
    </button>
    {{#if data.hasShieldSoak}}
      <button
        class="tag weapon_soak chat-execute-soak"
        data-action="shieldSoak"
      >
        {{localize 'CONAN.shieldSoakRollLabel'}}
      </button>
    {{/if}}
  </div>
  {{/ifCond}}

  {{> systems/conan2d20/templates/partials/card-footer-properties.html }}
</div>
