<div class="dialog">
  <div class="dialog-content apply-damage">

		<div class="character-grid">
			<div class="label">{{localize 'CONAN.ApplyDamageSelectedActorsLabel'}}</div>

			{{#each selectedActors as |actor index|}}
				<div
					class="character"
					data-actor-index="{{index}}"
				>
					<div class="character-portrait">
						<img
							src="{{actor.img}}"
							height="64"
							width="64"
						/>
					</div>
					<div
						class="character-name"
						title="{{localize 'CONAN.ApplyDamageCharacterTooltip'}}"
					>
						{{actor.name}}
					</div>
				</div>
			{{/each}}
		</div>

		<div class="damage-values">
			<div class="label">{{localize 'CONAN.ApplyDamageValuesLabel'}}</div>

			<div class="dialog-inputs apply-damage grid-2-columns">

				{{!-- VIGOR DAMAGE --}}
				<div class="quantity-grid">
					<div class="quantity-header">{{localize 'CONAN.healthVigor'}}</div>
					<input type="number" min="0" max="3" value="{{damage.vigor}}" data-quantity-type="vigor" disabled/>
					<div class="quantity-up">
						<i class="fa-regular fa-square-plus"></i>
					</div>
					<div class="quantity-down">
						<i class="fa-regular fa-square-minus"></i>
					</div>
				</div>

				{{!-- RESOLVE DAMAGE --}}
				<div class="quantity-grid apply-damage">
					<div class="quantity-header">{{localize 'CONAN.healthResolve'}}</div>
					<input id="momentum" type="number" min="0" max="3" value="{{damage.resolve}}" data-quantity-type="resolve" disabled/>
					<div class="quantity-up">
						<i class="fa-regular fa-square-plus"></i>
					</div>
					<div class="quantity-down">
						<i class="fa-regular fa-square-minus"></i>
					</div>
				</div>

			</div>

		</div>

		<div class="damage-location">
			<div class="label">
				{{localize 'CONAN.ApplyDamageLocationLabel'}}
			</div>
			<select class="apply-damage location" name="location" data-dtype="String">
				{{#select location}}
					{{#each locations as |location key|}}
					<option
						value="{{key}}"
						{{#ifEq key ../damage.location}}
							selected
						{{/ifEq}}
					>
						{{location}}
					</option>
					{{/each}}
				{{/select}}
			</select>
		</div>

		<div class="dialog-inputs">
			<button class="apply-damage-button">
				{{localize 'CONAN.ApplyDamage'}}
			</button>
		</div>

	</div>
</div>
