.npc-health {
	&__grid {
		display: grid;
		gap: 3px 3px;
		grid-template-columns: 1fr 1fr;
		text-align: center;
	}

	&__entry {
		display: flex;
	}

	&__score {
		display: flex;
		color: black;
	}
}
