// Header style for the NPC character sheet
//
.npc-sheet__header {
	@include p-reset;
	min-width: 490px;
	position: sticky;
	top: 0;
	z-index: 1000;
	background: url(../assets/parchment.jpg);

	hr {
		margin: 0;
		margin-top: 4px;
		margin-bottom: 4px;
	}
}

.npc-sheet-banner {
	// Grid to contain the header background image and NPC name edit field
	//
	&__grid {
		@include p-reset;
		display: grid;
		grid-template-columns: 72px 1fr 72px;
		grid-template-rows: 75px;
		width: 100%;
	}

	// Left side of the banner background image
	//
	&__left {
		background-image: url(../assets/sheet/npc-header-left.webp);
		background-repeat: no-repeat;
		background-size: contain;
	}

	// Resizable centre portion of the banner image containing the NPC Name
	//
	&__centre {
		background-image: url(../assets/sheet/npc-header-center-rpt.webp);
		background-repeat: repeat-x;
		background-size: contain;

		input[type=text] {
			all: unset;
			@include p-reset;

			display: block;
			background: none;
			padding-top: 9px;
			width: 100%;

			font-family: crushyourenemies;
			font-size: 18px;

			color: white;
			text-align: center;
			text-overflow: ellipsis;
		}
	}

	// Right side of the banner background image
	&__right {
		background-image: url(../assets/sheet/npc-header-right.webp);
		background-repeat: no-repeat;
		background-size: contain;
	}
}
