.conan2d20.actor.npc.character-sheet {
	min-width: 550px;
	min-height: 690px;
  	scrollbar-gutter: stable both-edges;

  section.window-content {
		@include p-reset;
		display: block;
		overflow: auto;
		scrollbar-gutter: stable both-edges;
  }
}

.npc-sheet {
	input[type=number],
	select {
		text-align: center;
	}

	.editor {
		min-height: 520px;
	}

	&__body {
		@include p-reset;
		margin-left: 4px;
		margin-right: 4px;
		grid-area: content;
		position: relative;
	}

	&-field__label {
		@include p-reset;

		background: $primary-color;
		color: white;
		width: 100%;
		padding-top: 3px;
		padding-bottom: 4px;

		text-align: center;

		h4 {
			margin-bottom: 0px;
		}
	}

	&-field__value {
		color: white;
		width: 100%;
	}

}

.npc-sheet-sub-heading {
	display: flex;
	color: white;
	background: black;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 3px;

	h3 {
		@include p-reset;
		flex: auto;
		border: none;
	}

	.item-controls a {
		margin-right: 4px;
	}
}
