@mixin pc-sheet-tab {
    @include p-reset;
    display: flex;
    flex-direction: column;
    list-style: none;

    h3,
    h4 {
      @include p-reset;
    }

    h3 {
      font-size: 16px;
      line-height: 1;
      color: #c0c0c0;
      border: none;
      flex: auto;

      &:hover {
        color: white;
        cursor: pointer;
      }
    }

    h4 {
      font-size: 16px;
    }
}
