<form class="{{cssClass}} npc-sheet" autocomplete="off">

  <div class="npc-sheet__header">

    <header class="npc-sheet-banner__grid">
      <div class="npc-sheet-banner__left"></div>

      <div class="npc-sheet-banner__centre">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="{{localize "CONAN.characterNamePlaceholder"}}"
        />
      </div>

      <div class="npc-sheet-banner__right"></div>
    </header>

    <nav class="npc-sheet-navigation npc-sheet-navigation__grid" data-group="primary">
      <div class="npc-sheet-navigation__flex" hidden>
        <a class="npc-sheet-navigation active" data-tab="npc-details"></a>
      </div>
    </nav>

    <hr />

  </div>

	<section class="npc-sheet__body">
    <div class="tab npc-details" data-group="primary" data-tab="npc-details">
      {{> systems/conan2d20/templates/actors/npc/type-readonly.html}}
    </div>
	</section>
</form>
